@use "@/styles/utils/variables" as *;
@use "@/styles/utils/mixins" as *;

body {
  background-color: $background-color-1;
  color: $text-color-1;
  font-family: $font-family-1, sans-serif;
  font-weight: 400;
  @include text-md;
}