// colors

$background-color-1: #202020;
$background-color-2: #333333;
$background-color-3: #505050;

$text-color-1: #ffffff;
$text-color-2: #acacac;

$border-color-1: #b2b2b2;

// font families

$font-family-1: 'Roboto';

// font sizes

$font-size-lg: 2.5rem;
$font-size-md: 1rem;

// line heights

$line-height-md: 1.2em;
$line-height-sm: 1em;
